
@layer design-system, base, utilities, components, layout, overrides;
@import "https://unpkg.com/open-props" layer(design-system.tokens);
@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=arrow_back,arrow_forward,arrow_forward_ios&display=block" layer(design-system.symbols);

@layer base {
    html {
        /* Adjust the chroma for all palettes */
        --palette-chroma: 1;
        /* Contrast function based on perceptual lightness (OKLCH) */
        --threshold: 0.625;
        --contrast-fn: min(max(((l - var(--threshold)) * -infinity), 0), 1);
        /* Semantic tokens */
        --ui-surface: var(--hdr-purple-15);
        --ui-surface-container: var(--hdr-purple-14);
        --ui-on-surface: oklch(from var(--ui-surface) var(--contrast-fn) 0 h);
        --ui-primary: var(--hdr-orange-2);
        --ui-spacing-none: 0;
        --ui-spacing-xxs: var(--size-1);
        --ui-spacing-xs: var(--size-2);
        --ui-spacing-sm: var(--size-3);
        --ui-spacing-md: var(--size-5);
        --ui-spacing-lg: var(--size-7);
        --ui-spacing-xl: var(--size-8);
        --ui-spacing-xxl: var(--size-10);
        --ui-label: var(--font-weight-5) var(--font-size-1) / var(--font-lineheight-0), var(--font-system-ui);
        --ui-body: var(--font-weight-4) var(--font-size-2) / var(--font-lineheight-3), var(--font-system-ui);
        --ui-title: var(--font-weight-5) var(--font-size-4) / var(--font-lineheight-1), var(--font-system-ui);
        --ui-icon-font-family: 'Material Symbols Outlined';
        --icon-font-small: var(--font-weight-6) var(--font-size-1) / 1 var(--ui-icon-font-family);
        --icon-font-medium: var(--font-weight-4) var(--font-size-4) / 0 var(--ui-icon-font-family);
        /* Force dark theme shadow values in light mode */
        /* OSlight */
        @media (prefers-color-scheme: light) {
            --shadow-color: 220 40% 2%;
            --shadow-strength: 25%;
        }
        /* Component-specific token */
        --ui-scroll-btn-radius: var(--radius-4);
        --ui-scroll-btn-layer: var(--layer-3);
        --ui-scroll-btn-outline: var(--border-size-2) dashed var(--btn-border-color);
        --ui-scroll-btn-border: var(--border-size-1) solid var(--btn-border-color);
        --ui-scroll-btn-size: var(--size-px-9);
        --ui-visual-radius: var(--radius-3);
        --ui-card-radius: calc(var(--ui-visual-radius) * 1.25);
        --ui-btn-radius: var(--radius-2);
        --ui-icon-size: var(--size-7);
        --ui-card-shadow: var(--shadow-4);
    }
}


@layer layout {
    .youtube_section {
        container-type: inline-size;
        inline-size: 100%;
        display: grid;
        place-items: center;
        column-gap: var(--ui-spacing-xs);
        row-gap: var(--ui-spacing-lg);
        padding-bottom: var(--ui-spacing-xxl);
    }
    .youtube_cards {
        --_carousel-inline-padding: var(--ui-spacing-sm);
        display: grid;
        gap: var(--ui-spacing-sm);
        grid-auto-flow: column;
        grid-column: 2/-1;
        grid-template-rows: 200px 1fr;
        inline-size: 100%;
        list-style: none;
        min-block-size: 50vh;
        overflow-inline: auto;
        overscroll-behavior-inline: contain;
        padding-block: var(--ui-spacing-lg);
        padding-inline: var(--_carousel-inline-padding);
        scroll-behavior: smooth;
        scroll-padding-inline: var(--_carousel-inline-padding);
        scroll-snap-type: inline mandatory;

        /* md-n-above */
        @media (width >=768px) {
            --_carousel-inline-padding: var(--ui-spacing-lg);
        }
    }
    .youtube_card {
        scroll-snap-align: start;
        border-radius: var(--ui-card-radius);
        box-shadow: var(--ui-card-shadow);
        display: grid;
        grid-row: 1/-1;
        grid-template-rows: subgrid;
        padding: var(--ui-spacing-xs);
        inline-size: min(75cqi, 400px);
        background-color: var(--ifm-color-emphasis-100);
    }
    .youtube_visual {
        border-radius: var(--ui-visual-radius);
        overflow: clip;
    }
    .youtube_img {
        display: block;
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
        /* fallback */
        background-color: var(--ui-surface-container);
    }
    .youtube_content {
        display: grid;
        align-content: space-between;
        grid-template-rows: 80% 20%;
        padding: var(--ui-spacing-sm);
    }
    .youtube_content_wrapper {
        display: grid;
        /*gap: var(--ui-spacing-sm);*/
    }
    .youtube_title {
        font: var(--ui-title);
        text-wrap: pretty;
        color: var(--txt-light);
        margin: 0 0 10px 0;
        font-weight: var(--font-weight-9);
    }
    .youtube_desc {
        font: var(--ui-body);
        text-wrap: pretty;
        color: var(--txt-light);
        margin: 0 0 10px 0;

    }
    .youtube_card_link {
        --_icon-bg: var(--ui-primary);
        font: var(--ui-label);
        text-decoration: none;
        display: flex;
        gap: var(--ui-spacing-xs);
        align-items: center;
        justify-content: end;
        font-weight: var(--font-weight-9);

        &:hover {
            --_icon-bg: color-mix(in oklch, var(--ui-primary), var(--ui-on-surface) 8%);
        }
    }
    @supports (scroll-marker-group: after) {
        .youtube_cards {
            anchor-name: --carousel;
            scrollbar-width: none;

            &::scroll-button(*) {
                -webkit-tap-highlight-color: transparent;
                -webkit-touch-callout: none;
                background-color: transparent;
                block-size: var(--ui-scroll-btn-size);
                border-radius: var(--ui-scroll-btn-radius);
                color: var(--btn-border-color);
                cursor: pointer;
                display: inline grid;
                font: var(--icon-font-medium);
                inline-size: var(--ui-scroll-btn-size);
                outline-width: 0;
                place-items: center;
                position-anchor: --carousel;
                inset-block-end: calc(anchor(end) - calc(var(--ui-spacing-xs) + var(--ui-scroll-btn-size)));
                inset-inline-start: calc(anchor(start) + var(--_carousel-inline-padding));
                position: absolute;
                user-select: none;
                border: var(--ui-scroll-btn-border);
            }
            &::scroll-button(*):focus:not(:disabled) {
                outline: var(--ui-scroll-btn-outline);
            }
            &::scroll-button(*):disabled {
                cursor: not-allowed;
                opacity: 0.4;
            }
            &::scroll-button(*):not(:disabled):hover {
                background-color: oklch(from var(--ui-on-surface) l c h / 8%);
            }
            &::scroll-button(inline-start) {
                content: 'arrow_forward' / 'Scroll forward';
            }
            &::scroll-button(inline-end) {
                content: 'arrow_back' / 'Scroll back';

                inset-inline-start: calc(anchor(start) + var(--ui-spacing-xs) + var(--ui-scroll-btn-size) + var(--_carousel-inline-padding));
            }
        }
    }
}