/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsSection {
    background-color: var(--ifm-color-emphasis-100);
    padding: 1rem 0;
}

.YoutubeSection{}

.authorSection{
    background-color: var(--ifm-color-emphasis-100);
    padding: 1rem 0;
}

.featuresSection{
    padding: 1rem 0;
}

.youtube_container{
    margin: 0 auto;
    max-width: var(--ifm-container-width);
    padding: 10px 10px 0px 10px;
    width: 100%;
    text-align: center;
}

.course_container {
    margin: 0 auto;
    max-width: var(--ifm-container-width);
    padding: 10px 10px 0px 10px;
    width: 100%;
    text-align: center;
}